<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="StyleSheet.css">
      <title>ML Model</title>
    </head>
    <body>
        <h1>Machine Learning Model</h1>

        <div class="div-1">
          <table class="tg">
            <caption>
              Student Data
            </caption>
              <thead>
                <tr>
                  <th class="tg-0lax">Student Name</th>
                  <th class="tg-0lax">Gender</th>
                  <th class="tg-0lax">Financial Status</th>
                  <th class="tg-baqh" colspan="7">CET Scores</th>
                  <th class="tg-baqh" colspan="5">Grades</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tg-0lax">placeholder</td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">placeholder</td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">placeholder</td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">placeholder</td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                </tr>
                <tr>
                  <td class="tg-0lax">placeholder</td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                  <td class="tg-0lax"></td>
                </tr>
              </tbody>
              </table>
        </div>

        <form>
            <div class="div-2">
            <h3>Student Name</h3>
            <label for="fName">First Name:</label><br>
            <input type="text" id="fName" name="fName"><br>
            <label for="lName">Last Name:</label><br>
            <input type="text" id="lName" name="lName"><br>
            <label for="gender">Gender:</label><br>
            <input type="text" id="gender" name="gender">
            </div>
            
            <div class="div-2">
            <h3>Gender</h3>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="female">Female</label><br>
            <input type="radio" id="nope" name="gender" value="Prefer not to Say">
            <label for="nope">Prefer not to Say</label><br>
            </div>      

            <div class="div-2">
            <h3>Financial Status</h3>
            <input type="radio" id="notSay" name="FinancialStatus" value="Prefer not to Say">
            <label for="notSay">Prefer not to Say</label><br>
            <input type="radio" id="belowTen" name="FinancialStatus" value="Below P10000">
            <label for="belowTen">Below P10000</label><br>
            <input type="radio" id="TenToTwenty" name="FinancialStatus" value="P10000 to P20000">
            <label for="TenToTwenty">P10000 to P20000</label><br>
            <input type="radio" id="TwentyToFifty" name="FinancialStatus" value="P20000 to P50000 ">
            <label for="TwentyToFifty">P20000 to P50000</label><br>
            <input type="radio" id="FiftyToHundo" name="FinancialStatus" value="P50000 to P100000">
            <label for="FiftyToHundo">P50000 to P100000</label>
            </div>

            <div class="div-2">
            <h3>Grades</h3>
            <label for="shs">SHS/HS GPA:</label><br>
            <input type="text" id="shs" name="shs"><br>
            <label for="CC100">CC100:</label><br>
            <input type="text" id="cc100" name="cc100"><br>
            <label for="cc101">CC101:</label><br>
            <input type="text" id="cc101" name="cc101"><br>
            <label for="cc102">CC102:</label><br>
            <input type="text" id="cc102" name="cc102"><br>
            <label for="cc111it112">CC111/IT112:</label><br>
            <input type="text" id="cc111it112" name="cc111it112">
            </div>

            <div class="div-2">
            <h3>CET Scores</h3>
            <label for="OAPR">OAPR:</label><br>
            <input type="text" id="OAPR" name="OAPR"><br>
            <label for="engProf">English Proficiency:</label><br>
            <input type="text" id="engProf" name="engProf"><br>
            <label for="readComp">Reading Comprehension:</label><br>
            <input type="text" id="readComp" name="readComp"><br>
            <label for="cc111it112">CC111/IT112:</label><br>
            <input type="text" id="cc111it112" name="cc111it112">
            </div>

            <input type="submit" value="Submit">
        </form>

       

    </body>
</html>